body {
    /* background-image: url("gray-watercolor-background.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
   background-color: #FFF;
}

h1 {
    font-family: "futura", sans-serif;
    margin-top: 75px;
    text-align: center;
}

h2 {
    font-family: "futura", sans-serif;
    font-size: 35px;
    font-style: italic;
    margin-top: 75px;
    text-align: center;
}

ul {
    line-height: 150%;
    list-style-type: none;
}

.logo {
    margin-bottom: -15px;
    margin-top: 5px;
}

.nav-container {
    background-color: #FFF;
    border: 2px solid #BBBBBB;
    border-radius: 10px;
    box-shadow: inset -0px -1px 2px #82A09D;
    font-family: futura, sans-serif; 
    height: 200px;
    margin-top: 30px;
    padding-left: 20px;
    padding-top: 60px;
    text-align: left;
    width: 200px;
}

#sign-up a{
    color: #000;
    font-size: 15px;
    text-decoration: none;
}

#log-in a{
    color: #000;
    font-size: 15px;
    text-decoration: none;
}

@keyframes blink { 
    50% { border-color: #8FF94B; } 
}

.nav-container:hover {
    animation: blink .5s step-end infinite alternate;
}

.flex-display {
    display: flex;
    justify-content: center;
}