<h1><%= image_tag("boston-terrier-logo.jpg", height: "130", width: "130") %></h1>
<h2>most popular photo</h2>

<%= link_to "back", :back %><br><br>



<%= image_tag(@liked_photo.img_url, height: 400, width: 400) %>


